<div class="card">
  <img [src]="data.coverImageUrl">
  <div class="card_info">
    <div class="card-data">
      <p>Package Name:</p>
      <p class="card-data-value">{{ data.packageName }}</p>
    </div>
    <div class="card-data">
      <p>Location:</p>
      <p class="card-data-value">{{ data.location }}</p>
    </div>
    <div class="card-data">
      <p>Price:</p>
      <P class="card-data-value">{{ data.price | number }} {{ data.currencyCode }}</P>
    </div>
    <div class="card-data">
      <p>Number of people:</p>
      <p class="card-data-value">{{ data.numberOfPeople }}</p>
    </div>
    <button class="button" [routerLink]="['tour-details']"  [queryParams]="{ id: data.id }">Book Now</button>
  </div>
</div>
