<div class="body">
  <div class="login-form">
        <span class="login-form-body">
            <p>Forgot Password</p>
            <input type="text" [formControl]="userId" placeholder="Username">
            <button class="button" (click)="submitData()">
                <span *ngIf="!submitUserDetail">
                    Submit
                </span>
                <span class="white" *ngIf="submitUserDetail">
                    <mat-icon>
                        <mat-spinner diameter="20" class="white"></mat-spinner>
                    </mat-icon>
                </span>
            </button>
            <span class="signup-link">
                <a href="" routerLink="/auth">Or Login</a>
            </span>
        </span>
  </div>
</div>
