.body {
    display: flex;
    width: 100vw;
    height: 100%;
    background-color: black;
.example-container {
    height: 100%;

    mat-sidenav {
        height: 100%;
        background-color: #792029;
        color: #D4B867;

        h2 {
            margin-left: 15px;
            margin-top: 30px;
        }

        mat-list-item {
            color: #D4B867;
            border-bottom: .1px solid gray;

        }
        mat-list-item:hover {
            cursor: pointer;
            background-color: rgb(47, 10, 20);
        }

    }
    mat-sidenav-content {
        background-color: black;
    }

    .open-button {
        background-color: black;
    }

    .button {
        background-color: #D4B867;
    }
}
}

.spinner {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
