<div class="body">
    <div class="login-form">
        <span class="login-form-body" [formGroup]="signupForm">
            <p>Signup</p>
            <input type="text" formControlName="name" placeholder="Username">
            <input type="text" formControlName="email" placeholder="Email">
            <input type="password" formControlName="password" placeholder="Password">
            <input type="password" formControlName="confirmedPassword" placeholder="Confirm Password">
            <div class="terms-and-conditions">
              <mat-checkbox (change)="agreeTerms($event)">I have read and agree to the </mat-checkbox><a routerLink="/terms-and-conditions"> terms and conditions</a>
            </div>
            <button class="button" [disabled]="!agreedTermsAndConditions" (click)="sumitData()">
                <span *ngIf="!submitUserDetail">
                    Signup
                </span>
                <span class="white" *ngIf="submitUserDetail">
                    <mat-icon>
                        <mat-spinner diameter="20"></mat-spinner>
                    </mat-icon>
                </span>
            </button>
        </span>
    </div>
</div>

