<div class="adsAndComments" [style.background-color]="displayComments == true ? 'black' : '#f5f6f8'">
    <span class="images">
      <img src="assets/toyota.jpg" alt="toyota">
      <img src="assets/camry.jpg" alt="toyota">
    </span>
    <span *ngIf="displayComments">
      <p>Comments</p>
      <div class="speech-bubble">
        this is just some dummy text that could not be generated automatically,
        so I had to type all of this. It was such an annoying experience.
      </div>
      <div class="speech-bubble">
        this is just some dummy text that could not be generated automatically,
        so I had to type all of this. It was such an annoying experience.
      </div>
      <div class="speech-bubble">
        this is just some dummy text that could not be generated automatically,
        so I had to type all of this. It was such an annoying experience.
      </div>
      <div class="speech-bubble">
        this is just some dummy text that could not be generated automatically,
        so I had to type all of this. It was such an annoying experience.
      </div>
      <div class="speech-bubble">
        this is just some dummy text that could not be generated automatically,
        so I had to type all of this. It was such an annoying experience.
      </div>
    </span>
  </div>
