<div class="adsAndComments" [style.background-color]="displayComments == true ? '#4B1322' : '#f5f6f8'">
    <span class="images">
      <img src="assets/toyota.jpg" alt="toyota">
      <img src="assets/camry.jpg" alt="toyota">
    </span>
    <p class="comments-title"  *ngIf="displayComments">Comments</p>
  <span *ngIf="displayComments && userData?.userId" class="post-comments">
      <textarea placeholder="Enter comment here" [formControl]="writtenComment"></textarea>
      <button (click)="submitComment()" class="button comment-button">
        <span *ngIf="!postingComment">
          Comment
        </span>
        <span *ngIf="postingComment">
          <mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
          </mat-icon>
        </span>
      </button>
    </span>
    <span class="comments" *ngIf="displayComments">

      <p class="no-comments" *ngIf="noComments && !loadingComments">
        There are no comments for this video
      </p>

      <span *ngIf="loadingComments" class="spinner">
        <mat-spinner diameter="40"></mat-spinner>
      </span>
      <span *ngIf="!noComments && !loadingComments">
        <span *ngFor="let comment of comments" class="align-comment">
          <div class="speech-bubble">
            {{comment.comment}}
          </div>
          <div class="profile-image">
            <img [src]="comment.profilePic" alt="profile pic">
          </div>
        </span>
      </span>
    </span>
  </div>
