.full-page {

    &__body {
    display: flex;
    width: 80vw;

    .sidebar {
        background-color: #4B1322;
        color: #D4B867;
        flex: 0 0 20%;

        .side-nav {
            display: flex;
            flex-direction: column;
            list-style: none;
            font-size: 12px;

            &__item {
                display: flex;
                justify-content: space-around;
                margin-left: 10px;
                margin-right: 10px;
                border-bottom: .1px solid gray;
                padding: 10px 0px;
                font-weight: 100;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(47, 10, 20);
                }

              li {
                margin-top: 10px;
                width: 40%;
                word-wrap: break-word;
              }

              .button {
                margin-top: 4px;
                background-color: transparent;
                color: #D4B867;
                font-size: 10px !important;
                padding: 5px;
                border-color: #D4B867;
                cursor: pointer;
                transition: .2s;


                &:hover {
                  transform: scale(1.1);
                }
              }

            }
        }
    }

    .movie-covers {
        flex: 0 0 80%;
        display: flex;
        flex-direction: column;

        &__head {
            display: flex;
            flex-direction: column;
            color: #fff;
            position: relative;
            // background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),url("/assets/planet_ape_final.jpg");
            // background-size: cover;
            p {
                padding: 40px 20px;
            }

            video {
                width: 100%;
            }
            .video-player {
                height: 400px;
            }

            .vidBtn {
                position: absolute;
                top: 40%;
                left: 45%;
            }

            .no-video {
                height: 400px;
                background-color: black;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            video:active, video:focus {
                outline: none;
                border: none;
            }

            p:nth-child(1) {
                font-family: 'Enriqueta', ;
                text-transform: uppercase;
                font-size: 12px;
            }

            .movie {
                font-size: 50px;
                font-weight: 100;
                margin-top: -70px;
            }

            span {
                align-self: center;
                font-size: 10px;
                font-family: 'Enriqueta', ;

                p {
                    margin-top: -60px;
                    margin-left:-10px;
                }
            }

            p:last-child {
                font-family: 'Enriqueta', ;
                letter-spacing: 4px;
            }
        }

        &__title {
            display: flex;
            background-color: rgb(58, 29, 36);
            color: #fff;
            font-size: 13px;
            font-weight: lighter;
            padding: 20px 0px;
            line-height: 1.6;

            img {
                padding: 0px 20px;
            }
        }

        &__footer {
            display: flex;
            // height: 605px;

            .soccer {
                flex: 0 0 33%;
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/soccer-ball.jpg");
                background-size: cover;
                background-position: center;
                color: #fff;
                // height: 100%;

                p:first-child {
                    font-family: 'Enriqueta', ;
                    text-transform: uppercase;
                    font-size: 8px;
                    letter-spacing: 5px;
                    margin: 10px 0px 0px 10px;

                }
                p:last-child {
                    margin: 10px 0px 0px 10px;
                    font-size: 30px;
                    font-weight: lighter;
                }
            }

            .newsAndMovie {
                display: flex;
                flex-direction: column;
                flex: 0 0 33%;
                height: inherit;

                .movie-face {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/dinklage.jpg");
                    background-size: cover;
                    color: #fff;
                    height: 50%;


                    p:first-child {
                        font-family: 'Enriqueta', ;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 5px;
                        margin: 10px 0px 0px 10px;

                    }
                    p:last-child {
                        margin: 10px 0px 250px 10px;
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }

                .news-anchor-face {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/news-anchor.jpg");
                    background-size: cover;
                    background-position: center;
                    color: #fff;
                    height: 50%;


                    p:first-child {
                        font-family: 'Enriqueta', ;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 5px;
                        margin: 10px 0px 0px 10px;

                    }
                    p:last-child {
                        margin: 10px 0px 250px 10px;
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }
            }

            .cartoonsAndSeries {
                display: flex;
                flex-direction: column;
                flex: 0 0 34%;
                height: inherit;

                .cartoon-face {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/simpsons.jpg");
                    background-size: cover;
                    background-position: center;
                    color: #fff;
                    height: 33%;

                    p:first-child {
                        font-family: 'Enriqueta', ;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 5px;
                        margin: 10px 0px 0px 10px;

                    }
                    p:last-child {
                        margin: 10px 0px 166px 10px;
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }

                .current-series-face {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/donald-draper.jpeg");
                    background-size: cover;
                    background-position: center;
                    color: #fff;
                    height: 33%;

                    p:first-child {
                        font-family: 'Enriqueta', ;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 5px;
                        margin: 10px 0px 0px 10px;

                    }
                    p:last-child {
                        margin: 10px 0px 166px 10px;
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }

                .complete-series-face {
                    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),url("/assets/matrix.jpg");
                    background-size: cover;
                    background-position: center;
                    color: #fff;
                    height: 34%;

                    p:first-child {
                        font-family: 'Enriqueta', ;
                        text-transform: uppercase;
                        font-size: 8px;
                        letter-spacing: 5px;
                        margin: 10px 0px 0px 10px;

                    }
                    p:last-child {
                        margin: 10px 0px 166px 10px;
                        font-size: 30px;
                        font-weight: lighter;
                    }
                }
            }
        }

      &__movie-list {
        padding-bottom: 40px;
      }
    }

}

@media only screen and (max-width: 975px) {
    &__body {
        width: 100vw;
    }
}

@media only screen and (max-width: 800px) {
    &__body {
        flex-direction: column;

        .sidebar {
            order: 1;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media only screen and (max-width: 460px) {
    &__body {

        .movie-covers {
            &__footer {
                flex-direction: column;

                .soccer {
                    min-height: 300px;
                }
            }
        }
    }
}
}


.movie-title {
    margin-right: 5px;
}
.movie-title-arrange {
    display: flex;
    color: #D4B867;
    font-weight: bold;
}

.landing-page-spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
