<div class="full-page__body">
    <nav class="sidebar">
      <ul class="side-nav">
        <span class="side-nav__group">
          <li class="side-nav__item">Movies</li>
          <li class="side-nav__item">Series</li>
        </span>
        <span class="side-nav__group">
          <li class="side-nav__item">Live TV</li>
          <li class="side-nav__item">Sports</li>
        </span>
        <span class="side-nav__group">
          <li class="side-nav__item">Documentary</li>
          <li class="side-nav__item">News</li>
        </span>
      </ul>
    </nav>
    <div class="movie-covers">
      <div class="movie-covers__head">
        <p>Now Showing</p>
        <p class="movie">Movie</p>
        <span>
          <img src="assets/eye.svg" alt="">
          <p>Watch Now</p>
        </span>
        <p>Planet of the Apes</p>
      </div>
      <div class="movie-covers__title">
        <img src="assets/eye-small.svg" alt="watch-small">
        <span>
          <div>
            <span class="movie-title-arrange">
              <p class="movie-title">Title:</p>
              <p>Planet of the Apes</p>
            </span>
          </div>
          <p>Genre: Action</p>
          <p>Rating: Action</p>
          <p>Age: 15LS</p>
        </span>
      </div>
      <div class="movie-covers__footer">
        <div class="soccer">
          <p>More Action</p>
          <p>Sports</p>
        </div>
        <div class="newsAndMovie">
          <div class="movie-face">
            <p>More Action</p>
            <p>Movies</p>
          </div>
          <div class="news-anchor-face">
            <p>More Action</p>
            <p>News</p>
          </div>
        </div>
        <div class="cartoonsAndSeries">
          <div class="cartoon-face">
            <p>More Action</p>
            <p>Cartoons</p>
          </div>
          <div class="current-series-face">
            <p>Current</p>
            <p>Series</p>
          </div>
          <div class="complete-series-face">
            <p>Complete</p>
            <p>Series</p>
          </div>
        </div>
      </div>
    </div>

  </div>
