<div *ngIf="loadingPage || loadCategories" class="landing-page-spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="full-page__body" *ngIf="!loadingPage && !loadCategories">
    <nav class="sidebar">
      <ul class="side-nav">
        <span  class="side-nav__item" (click)="defaultTvDisplay=true">
          <li>Home</li>
        </span>
      </ul>
      <ul class="side-nav" *ngFor="let category of videoCategories">
        <span class="side-nav__item">
          <li (click)="checkIfUserIsLoggedIn(category)">{{category.categoryCode | titlecase}}</li>
          <button
            *ngIf="userLoggedIn && category.isSubscribed"
            class="button"
            (click)="unSubscribeFromCategory(category.categoryCode)"
          ><span *ngIf="!subscribing || category.categoryCode!=subscribedCategoryId">
            SUBSCRIBED
          </span>
            <mat-icon *ngIf="subscribing && category.categoryCode==subscribedCategoryId"  class="gold">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          </button>
          <button
            *ngIf="userLoggedIn && !category.isSubscribed"
            class="button"
            (click)="subscribeToCategory(category.categoryCode)"
          >
            <span *ngIf="!subscribing || category.categoryCode!=subscribedCategoryId">
            SUBSCRIBE
            </span>
            <mat-icon *ngIf="subscribing && category.categoryCode==subscribedCategoryId"  class="gold">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
          </button>
        </span>
      </ul>
    </nav>
    <div class="movie-covers">
      <div class="movie-covers__head">
        <span class="no-video" *ngIf="noPlaylistItems">
          <p>There are no videos at the moment.</p>
        </span>
        <span class="no-video" *ngIf="!noPlaylistItems && !initiallyDisplayPlayButton">
          <mat-spinner></mat-spinner>
        </span>
        <span class="video-player" *ngIf="!noPlaylistItems && initiallyDisplayPlayButton">
          <youtube-player
            *ngIf="sources[0].isYoutubeVideo"
            suggestedQuality="default"
            [height]="400"
            [showBeforeIframeApiLoads]="true"
            (stateChange)="onStateChange($event)"
            (ready)="onYoutubePlayerReady($event)"
            [videoId]="sources[0].fileUrl">

          </youtube-player>
          <vg-player
            (onPlayerReady)="onPlayerReady($event)"
            *ngIf="!sources[0].isYoutubeVideo">
              <video
              [vgMedia]="media"
              #media
              id="singleVideo"
              preload="auto"
              [controls]="controls"
              [autoplay]="true"
              (mouseenter) ="mouseEnter()"
              (mouseleave) ="mouseLeave()"
              (loadedmetadata)="onMetadata($event)"
              >
                <source *ngFor="let video of sources" [src]="sources[0].fileUrl">
              </video>
          </vg-player>
        </span>
          <span (click)="playVideo()" class="vidBtn" *ngIf="!noPlaylistItems">
            <img *ngIf="displayPlayButton && initiallyDisplayPlayButton && !sources[0].isYoutubeVideo" src="assets/play.svg" alt="play">
          </span>
      </div>
      <div class="movie-covers__title">
        <img src="assets/eye-small.svg" alt="watch-small">
        <span class="movie-title-align-description">
          <div class="space-description">
            <div>
              <span class="movie-title-arrange">
                <p class="movie-title">Title: </p>
                <p>{{videoTitle}}</p>
              </span>
            </div>
            <p *ngIf="loadedVideoDuration">Duration: {{loadedVideoDuration | minuteSeconds }}</p>
            <p>Rating: {{videoCategory}}</p>
            <p>Age: {{videoRecommendedAge}}</p>
          </div>
          <p class="description">Description: {{videoDescription}}</p>
        </span>
      </div>
      <div class="movie-covers__footer" *ngIf="defaultTvDisplay">
        <div class="soccer" (click)="checkIfUserIsLoggedIn(preselectedCategories.sports)">
          <p>More Action</p>
          <p>Sports</p>
        </div>
        <div class="newsAndMovie">
          <div class="movie-face" (click)="checkIfUserIsLoggedIn(preselectedCategories.movies)">
            <p>More Action</p>
            <p>Movies</p>
          </div>
          <div class="news-anchor-face" (click)="checkIfUserIsLoggedIn(preselectedCategories.news)">
            <p>More Action</p>
            <p>News</p>
          </div>
        </div>
        <div class="cartoonsAndSeries">
          <div class="cartoon-face" (click)="checkIfUserIsLoggedIn(preselectedCategories.cartoons)">
            <p>More Action</p>
            <p>Cartoons</p>
          </div>
          <div class="current-series-face" (click)="checkIfUserIsLoggedIn(preselectedCategories.series_current)">
            <p>Current</p>
            <p>Series</p>
          </div>
          <div class="complete-series-face" (click)="checkIfUserIsLoggedIn(preselectedCategories.series_complete)">
            <p>Complete</p>
            <p>Series</p>
          </div>
        </div>
      </div>
      <div class="movie-covers__movie-list" *ngIf="!defaultTvDisplay">
        <app-video-list
          [category]="chosenCategory"
          (videoToBePlayed)="playCurrentVideo($event)"
        ></app-video-list>
      </div>
    </div>

  </div>
