<div class="spinner" *ngIf="loadingPage">
  <mat-spinner></mat-spinner>
</div>
<div class="component-body" *ngIf="!loadingPage">
  <app-translator-search-bar (searchData)="searchTranslationPackage($event)"></app-translator-search-bar>
  <div class="body">
    <div class="profile-picture">
      <img [src]="package.coverImageUrl" [hidden]="loadingProfileImage" (load)="loadingProfileImage=false;">
      <div *ngIf="loadingProfileImage" class="profile-image-spinner">
        <mat-spinner diameter="30"></mat-spinner>
      </div>
    </div>
    <div class="details">
      <div class="bio-details">
        <p>Translator Name:</p>
        <p class="value">{{package.ownerName}}</p>
      </div>
      <div class="bio-details">
        <p>Age:</p>
        <p class="value">{{package.age}}</p>
      </div>
      <div class="bio-details">
        <p class="align-bio">Bio:</p>
        <p>{{package.bio}}</p>
      </div>
      <div class="email">
        <img
          src="assets/mail.svg"
          matTooltip="Chat with us"
          [routerLink]="['../../chats']"
          [queryParams]="{ chatWith: package.ownerId }">
      </div>
      <div class="align-cards">
        <div class="card first">
          <p class="title">Package Information</p>
          <div class="bio-details">
            <p>Package Name:</p>
            <p class="value">{{package.packageName}}</p>
          </div>
          <div class="bio-details">
            <p>Audio Translation Price:</p>
            <p class="value" *ngIf="package.audioTranslationPrice == 'NOT_OFFERED'">Not Offered</p>
            <p class="value" *ngIf="package.audioTranslationPrice !== 'NOT_OFFERED'">{{package.audioTranslationPrice | number}}</p>
          </div>
          <div class="bio-details">
            <p>Video Translation Price:</p>
            <p class="value" *ngIf="package.videoTranslationPrice == 'NOT_OFFERED'">Not Offered</p>
            <p class="value" *ngIf="package.videoTranslationPrice !== 'NOT_OFFERED'">{{package.videoTranslationPrice | number}}</p>
          </div>
          <div class="bio-details">
            <p>Live Translation Price:</p>
            <p class="value" *ngIf="package.liveTranslationPrice == 'NOT_OFFERED'">Not Offered</p>
            <p class="value" *ngIf="package.liveTranslationPrice !== 'NOT_OFFERED'">{{package.liveTranslationPrice | number}}</p>
          </div>
          <div class="bio-details">
            <p>Text Translation Price:</p>
            <p class="value" *ngIf="package.textTranslationPrice == 'NOT_OFFERED'">Not Offered</p>
            <p class="value" *ngIf="package.textTranslationPrice !== 'NOT_OFFERED'">{{package.textTranslationPrice | number}}</p>
          </div>
        </div>
        <div class="card" [class.liveSelected]="isLiveTranslation || uploadUrl">
          <p class="title">Payment Information</p>
          <div class="bio-details">
          <span class="chooseLanguages">
            <label>Package:</label>
            <select #chosenPackage (change)="packageToPay(chosenPackage.value)" required>
              <option selected disabled>Choose Package</option>
              <option *ngIf="package.audioTranslationPrice != 'NOT_OFFERED'" value="audioTranslationPrice">Audio Translation</option>
              <option *ngIf="package.videoTranslationPrice != 'NOT_OFFERED'" value="videoTranslationPrice">Video Translation</option>
              <option *ngIf="package.liveTranslationPrice != 'NOT_OFFERED'" value="liveTranslationPrice">Live Translation</option>
              <option *ngIf="package.textTranslationPrice != 'NOT_OFFERED'" value="textTranslationPrice">Text Translation</option>
            </select>
          </span>
          </div>
          <div class="bio-details">
            <p>Amount to Pay:</p>
            <p class="value">{{amountToPay | number}}</p>
          </div>
          <div class="bio-details">
            <p>Currency:</p>
            <p class="value">{{package.currencyCode}}</p>
          </div>
          <div *ngIf="isLiveTranslation" [formGroup]="liveTranslationForm">
            <div class="calendar">
              <input placeholder="Choose a Date"  formControlName="date" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="warn"></mat-datepicker>
            </div>
            <div class="ngx-timepicker-field-example">
              <ngx-timepicker-field [format]="24" (timeChanged)="chosenTime($event)"></ngx-timepicker-field>
            </div>
            <div class="bio-details">
              <p class="upload-title">Meeting link:</p>
              <input class="meeting-link" formControlName="meetingLink">
            </div>
          </div>
          <div class="bio-details" *ngIf="!isLiveTranslation">
            <p class="upload-title">File to be translated:</p>
            <button class="button" (click)="upload()">Upload</button>
          </div>
          <div class="bio-details" *ngIf="uploadUrl">
            <p class="upload-title">Uploaded file url:</p>
            <p class="value url-value">{{uploadUrl}}</p>
          </div>
          <div *ngIf="isLiveTranslation" class="align-button">
            <button class="button" routerLink="/translation">Cancel</button>
            <button class="button" [disabled]="!liveTranslationForm.valid" (click)="payNow()">
              <span *ngIf="!isSubmitted">Pay Now</span>
              <span class="white" *ngIf="isSubmitted">
                <mat-icon>
                  <mat-spinner diameter="20" class="white"></mat-spinner>
                </mat-icon>
              </span>
            </button>
          </div>
          <div *ngIf="!isLiveTranslation" class="align-button">
            <button class="button"  routerLink="/translation">Cancel</button>
            <button class="button" [disabled]="!hasChosenTranslationType || !uploadUrl" (click)="payNow()">
              <span *ngIf="!isSubmitted">Pay Now</span>
              <span class="white" *ngIf="isSubmitted">
                <mat-icon>
                  <mat-spinner diameter="20" class="white"></mat-spinner>
                </mat-icon>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
