<div class="body">
    <p class="title" *ngIf="blogToUpdate ==''">Create Blog</p>
    <p class="title" *ngIf="blogToUpdate !=''">Edit Blog</p>
    <span class="text-editor" [formGroup]="editorForm">
        <input class="input-title" placeholder="Title" formControlName="title">
        <span class="editor-spinner" *ngIf="loadEditor">
            <mat-spinner></mat-spinner>
        </span>
        <span class="editor" *ngIf="!loadEditor">
            <quill-editor
            [styles]="{height: '250px'}"
            placeholder="Type your blog here..."
            formControlName="editor"
            required
            ></quill-editor>
        </span>
        <span class="upload-cover-image">
            <span class="radio-button-items">
                <label class="radio-button-title">Upload cover image ?</label>
                <mat-radio-group class="radio-button-items" aria-label="Select an option">
                    <span  class="space-radio-button">
                        <mat-radio-button value="PG" [checked]="true" (change)="uploadCoverImage('no')">Use default</mat-radio-button>
                    </span>
                    <mat-radio-button value="G" (change)="uploadCoverImage('yes')">Upload an image</mat-radio-button>
                </mat-radio-group>
            </span>
        </span>
        <span class="upload-button-location" *ngIf="displayUploadButton">
            <button class="button upload-button" (click)="upload()">Upload Image</button>
            <p class="videoUrl">{{coverImage}}</p>
        </span>
        <button
            class="button publish-blog"
            (click)="submitBlog()"
            [disabled]='!editorForm.valid'>
            <span *ngIf="!uploadingBlog">
                Publish
            </span>
            <mat-icon *ngIf="uploadingBlog">
                <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
        </button>
    </span>
    <p class="title">Blogs</p>
    <div class="blogs">
        <app-display-blogs
            [displayBlogInAdmin]="true"
            [reload]="reloadBlogs"
            (updateBlog)="updateBlogItem($event)"
        ></app-display-blogs>
    </div>
</div>
