<div class="spinner" *ngIf="loadingMyInvestmentProject">
  <mat-spinner></mat-spinner>
</div>
<div class="body" *ngIf="!loadingMyInvestmentProject">
    <div class="form-body" [formGroup]="clientForm">
        <div class="upload-form">
            <span class="upload">
                <span class="upload-avatar" *ngIf="!displayCoverImage">
                  <mat-icon
                    class="cover-image-avatar"
                    matTooltip="Click to upload cover image"
                    (click)="upload()"
                    svgIcon="photo"></mat-icon>
                    <p>UPLOAD COVER IMAGE</p>
                </span>
                <span *ngIf="displayCoverImage">
                  <mat-icon class="load-cover-image-spinner" *ngIf="imageLoader">
                    <mat-spinner></mat-spinner>
                  </mat-icon>
                  <img [hidden]="imageLoader" (load)="this.imageLoader = false;" (click)="upload()" [src]="coverImage" class="cover-image" alt="">
                </span>
            </span>
            <span class="input-fields">
                <input class="input-company-title" formControlName="title" placeholder="Title" type="text">
                <span>
                  <label for="">Location: </label>
                  <input class="input-fields-others" placeholder="e.g. Kampala, Uganda" formControlName="location" type="text">
                </span>
                <span>
                  <label for="">Currency Code: </label>
                  <input class="input-fields-others" placeholder="e.g. UGX" formControlName="currencyCode" type="text">
                </span>
                <span>
                  <label for="">Amount Requested: </label>
                  <input class="input-fields-others" #amountRequested placeholder="e.g. 10000000" formControlName="amountRequested" type="text" (keyup)="addCommas(amountRequested.value, 'amountRequested')" (keydown)='isNumber(event)'>
                </span>
                <span>
                  <label for="">Projected Returns Type: </label>
                  <select formControlName="projectedReturnsType" name="location" required id="">
                    <option value="Percentage">Percentage(%)</option>
                    <option value="Fixed">Fixed</option>
                </select>
                </span>
                <span>
                  <label for="">Projected Returns: </label>
                  <input class="input-fields-others" #projectedReturns placeholder="e.g. 10" formControlName="projectedReturns" (keyup)="addCommas(projectedReturns.value, 'projectedReturns')" (keydown)='isNumber(event)' type="text">
                </span>
                <span>
                  <input class="input-fields-company-type" placeholder="Category e.g. Technology" formControlName="category" type="text">
                </span>
                <div class="buttons">
                    <button disabled class="button first-button">Contact Owner</button>
                    <button disabled class="button second-button">Invest Now</button>
                </div>
            </span>
        </div>
        <div class="office-images">
              <span *ngIf="officeImages.length > 0">
                  <span *ngFor="let image of officeImages; let i = index">
                      <img class="uploaded-office-image" (click)="uploadOfficeImages()" [src]="image" alt="">
                  </span>
              </span>
          <span class="image">
            <span class="avatar-background" *ngIf="officeImages.length == 0">
              <mat-icon
                [inline]="true"
                class="office-image-avatar"
                (click)="uploadOfficeImages()"
                svgIcon="plus"
                matTooltip="Click to upload office images"
                ></mat-icon>
                <p>Add Image</p>
            </span>
            <span class="avatar-background" *ngIf="officeImages.length < 2">
              <mat-icon
                [inline]="true"
                class="office-image-avatar"
                (click)="uploadOfficeImages()"
                svgIcon="plus"
                matTooltip="Click to upload office images"
                ></mat-icon>
              <p>Add Image</p>
            </span>
            <span class="avatar-background" *ngIf="officeImages.length < 3">
              <mat-icon
                [inline]="true"
                class="office-image-avatar"
                (click)="uploadOfficeImages()"
                svgIcon="plus"
                matTooltip="Click to upload office images"
                ></mat-icon>
              <p>Add Image</p>
            </span>
            <span class="avatar-background" *ngIf="officeImages.length < 4">
              <mat-icon
                [inline]="true"
                class="office-image-avatar"
                (click)="uploadOfficeImages()"
                svgIcon="plus"
                matTooltip="Click to upload office images"
                ></mat-icon>
              <p>Add Image</p>
            </span>
          </span>
        </div>
        <div class="description">
          <p>Description</p>
          <quill-editor
            [styles]="{height: '250px'}"
            placeholder="Type your package description here..."
            formControlName="description"
            required
          ></quill-editor>
            <p class="error"
                *ngIf="clientForm.controls.description.invalid && (clientForm.controls.description.dirty || clientForm.controls.description.touched)">
                *Description is required
            </p>
        </div>
        <span >
          <button
            (click)="submitClientForm()"
            [disabled]="uploadingInvestmentProjectDetail"
            class="button submit-button">
            <span *ngIf="!uploadingInvestmentProjectDetail">
              Submit
            </span>
            <span class="gold" *ngIf="uploadingInvestmentProjectDetail">
              <mat-icon class="gold">
                <mat-spinner diameter="20"></mat-spinner>
              </mat-icon>
            </span>
          </button>
        </span>
    </div>
</div>
