<div class="body">
    <div class="search-bar" [formGroup]="projectsForm">
        <select name="location" required id="location">
            <option value="" class="place-holder-style" disabled selected>Location</option>
            <option value="Kampala">Kampala</option>
            <option value="Lira">Lira</option>
        </select>

        <select name="location" required id="">
            <option value="" disabled selected>Amount Required</option>
            <option value="Kampala">Above $ 1M</option>
            <option value="Lira">$ 300,000</option>
        </select>

        <select name="location" required id="">
            <option value="" disabled selected>Returns</option>
            <option value="Kampala">Above $ 1M</option>
            <option value="Lira">$ 300,000</option>
        </select>
        <span class="name">
            <input type="text" class="input-name" formControlName="username" placeholder="Name">
            <img src="assets/search.svg" alt="">
        </span>
        <span class="button-cover">
            <button class="button" (click)="searchInvestmentProject()">Search</button>
        </span>
    </div>

    <span class="grid-slider">
        <p>Grid</p>
        <mat-slide-toggle></mat-slide-toggle>
    </span>

    <div class="cards">
        <span class="display-investment-project-spinner" *ngIf="loadingInvestmentProjects">
            <mat-spinner></mat-spinner>
        </span>
        <span class="display-investment-project-spinner" *ngIf="!loadingInvestmentProjects && data.length <= 0">
            <p>The investment project you are searching for does not exist.</p>
        </span>
        <span *ngIf="!loadingInvestmentProjects && data.length > 0">
            <app-display-client-cards
            [data]="data"
            [pageCount]="pageCount"
            [page]="page"
            ></app-display-client-cards>
        </span>
    </div>
</div>
