<div class="body">
    <div class="search-bar" [formGroup]="projectsForm">
        <span class="name">
            <input type="text" class="input-name" formControlName="username" placeholder="Location">
        </span>


        <span class="name">
            <input type="text" class="input-amount" #amountMin formControlName="amountMin" placeholder="Amount (Min)" (keyup)="addCommas(amountMin.value, 'amountMin')" (keydown)='isNumber(event)'>
        </span>
        <p>-</p>
        <span class="name">
            <input type="text" #amountMax class="input-amount" formControlName="amountMax" placeholder="Amount (Max)" (keyup)="addCommas(amountMax.value, 'amountMax')" (keydown)='isNumber(event)'>
        </span>

        <span class="name">
            <input type="text" class="input-amount" #returnsMin formControlName="returnsMin" placeholder="Returns (Min)" (keyup)="addCommas(returnsMin.value, 'returnsMin')" (keydown)='isNumber(event)'>
        </span>
        <p>-</p>
        <span class="name">
            <input type="text" class="input-amount" #returnsMax formControlName="returnsMax" placeholder="Returns (Max)" (keyup)="addCommas(returnsMax.value, 'returnsMax')" (keydown)='isNumber(event)'>
        </span>


        <span class="name">
            <input type="text" class="input-name" formControlName="username" placeholder="Name">
            <img src="assets/search.svg" alt="">
        </span>
        <span class="button-cover">
            <button class="button" (click)="searchInvestmentProject()">Search</button>
        </span>
    </div>

    <!-- <span class="grid-slider">
        <p>Grid</p>
        <mat-slide-toggle></mat-slide-toggle>
    </span> -->
    <span class="create-investment-project-button">
        <button class="button" routerLink="/investor-matching/create-investment-project">Add Investment Project</button>
    </span>

    <div class="cards">
        <span class="display-investment-project-spinner" *ngIf="loadingInvestmentProjects && !timeoutError">
            <mat-spinner></mat-spinner>
        </span>
        <span class="display-investment-project-spinner" *ngIf="!loadingInvestmentProjects && data.length <= 0 && !timeoutError">
            <p>The investment project you are searching for does not exist.</p>
        </span>
        <span class="display-investment-project-spinner" *ngIf="timeoutError">
            <span class="align-error-message">
                <p>Something went wrong!!</p>
                <button class="button" (click)="reloadInvestmentProjects()">Retry</button>
            </span>
        </span>
        <span *ngIf="!loadingInvestmentProjects && data.length > 0 && !timeoutError">
            <app-display-client-cards
            [data]="data"
            [pageCount]="pageCount"
            [page]="page"
            ></app-display-client-cards>
        </span>
    </div>
</div>
