.full-page {
    &__header {
    background-color: #ED1C24;
    height: 95px;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        img {
          margin-top: 15px;
          height: 40px;
        }
            .right-icon {
            flex-basis: 0 0 20%;
            padding-left: 60px;
            padding-right: 170px;
            }

        input {
            width: 900px;
            margin-top: 15px;
            box-shadow: 5px 3px 10px;
            border: none;
            height: 20px;

            &:focus {
                width: 750px;
                outline: none;
                transition: all .2s;
            }
        }

        @media only screen and (max-width: 1400px) {
            input {
                width: 700px;
            }

            .right-icon {
                padding-right: 50px;
            }
        }

        @media only screen and (max-width: 1100px) {
            input {
                width: 500px;
            }
        }

        @media only screen and (max-width: 980px) {
            input {
                width: 400px;
            }
        }

        @media only screen and (max-width: 900px) {
            input {
                width: 300px;
            }
        }

        @media only screen and (max-width: 700px) {
            .right-icon {
                padding-right: 100px;
            }
            input {
                margin-left: 50px;

            }
        }

        @media only screen and (max-width: 450px) {
            input {
                width: 200px;
            }
        }

        @media only screen and (max-width: 370px) {
            .right-icon {
                padding-right: 30px;
            }
        }

        button {
            outline: none;
            box-shadow: 5px 3px 10px black;
            border: none;
            height: 22px;
            background-color: rgb(105, 28, 28);
            color: #fff;
            font-size: 12px;
        }

        .search-button {
            width: 60px;
        }
    }

    @media only screen and (max-width: 700px) {
        justify-content: space-around;
        &__top :nth-child(2) {
            order: 3;
        }

        &__top :nth-child(4) {
            order: 1;
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        color: #fff;

        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &:visited {
            color: white;
          }
          &:link {
            color: white;
          }
          &:active {
            color: var(--gold-color);
          }

        }

    }

    @media only screen and (max-width: 450px) {
        &__bottom {
            margin-left: 10px;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
    }
}

    @media only screen and (max-width: 739px) {
        &__header {
        height: 150px;
        }
    }

    @media only screen and (max-width: 450px) {
        &__header {
        height: 320px;
        }
    }
}


.menu-item {
    margin-right: 25px;
    font-size: 13px;
    margin-top: 10px;


    &__checked {
      p {
        color: var(--gold-color);
      }
        font-weight: bold;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        font-weight: bolder;
    }

    &:active, &:focus {
        outline: none;
    }
}


.globe {
    display: flex;
    flex-direction: column;
    height: 50px;
    color: #fff;
    font-size: 10px;
    padding-top: 15px;
    align-items: flex-start;


  .custom-select-wrapper {
    //position: relative;
    user-select: none;
    width: 100%;
  }
  .custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
  }
  .custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 300;
    color: white;
    height: 30px;
    line-height: 30px;
    background: red;
    cursor: pointer;
  }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }
  .custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .custom-option {
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.5s;
  }
  .custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
  }
  .custom-option.selected {
    color: #ffffff;
    background-color: #305c91;
  }

  .arrow {
    position: relative;
    height: 15px;
    width: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
  }
  .arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.1rem;
    height: 60%;
    transition: all 0.5s;
  }
  .arrow::before {
    left: -3px;
    transform: rotate(45deg);
    background-color: white;
  }
  .arrow::after {
    left: 3px;
    transform: rotate(-45deg);
    background-color: white;
  }
  .open .arrow::before {
    left: -3px;
    transform: rotate(-45deg);
  }
  .open .arrow::after {
    left: 3px;
    transform: rotate(45deg);
  }








  .align-globe {
        margin-left: 5px;
    }

    select {
        background-color: red;
        color: white;
        border: none;
    }

    select:focus, select:active {
        outline: none;
    }


}
.globe img {
    margin-top: -2px;
    margin-left: -1px;
}

.signin {
    color: #fff;
    font-size: 10px;
    margin-right: 50px;
    margin-top: 15px;
    cursor: pointer;

    .username:hover, strong:hover {
        text-decoration: underline;
    }
}


.right-part {
    display: flex;
    justify-content: space-around;
    flex-basis: 80%;
}
