<div class="full-page__header">
    <div class="full-page__header__top">
      <img src="assets/chinee_tv_logo.jpg" alt="icon" class="right-icon">
        <span>
          <input name="Search" />
          <button class="search-button">Search</button>
        </span>
        <span class="globe">

          <div class="custom-select-wrapper" (click)="toggleDropDown()">
            <div #toggle class="custom-select">
              <div class="custom-select__trigger"><span>{{selectedLanguage}}</span>
                <div class="arrow"></div>
                </div>
                <div class="custom-options">
                  <span
                    class="custom-option" [class.selected]="selectedLanguage === 'EN'"
                    (click)="changeLanguage('#googtrans(en|en)')" data-value="ENG">
                    ENG
                  </span>
                  <span
                    class="custom-option" [class.selected]="selectedLanguage === 'FR'"
                    (click)="changeLanguage('#googtrans(en|fr)')" data-value="FR">
                    FR
                  </span>
                  <span
                    class="custom-option" [class.selected]="selectedLanguage === 'CHI'"
                    (click)="changeLanguage('#googtrans(en|zh-CN)')" data-value="CHI">
                    CHI
                  </span>
                  <span
                    class="custom-option" [class.selected]="selectedLanguage === 'JPN'"
                    (click)="changeLanguage('#googtrans(en|ja)')" data-value="JPN">
                    JPN
                  </span>
                </div>
            </div>
          </div>

          <img class="align-globe" src="assets/www.svg" alt="globe">
        </span>
        <span class="signin">
          <span *ngIf="username === 'Hello Sign In'">
            <p>Hello @User</p>
            <p class="username" (click)="login()">Sign In</p>
          </span>
          <p *ngIf="username !== 'Hello Sign In'">{{ (username.length>12)? (username | slice:0:12)+'..':(username) }}</p>
          <strong *ngIf="showSignout" (click)="logout()">Sign out</strong>
        </span>
    </div>
    <div class="full-page__header__bottom">
      <a
        class="menu-item"
        href="/tv"
        [routerLinkActive]="'menu-item__checked'"
        [routerLink]="['tv']"
        >
        <p>TV Stations</p>
      </a>
      <a
        class="menu-item"
        href="/investor-matching"
        [routerLinkActive]="'menu-item__checked'"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['investor-matching']"
        >
        <p>Investor Matching</p>
      </a>
      <a
        class="menu-item"
        href="/tours"
        [routerLinkActive]="'menu-item__checked'"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['tours']"
      >
        <p>Tours & Travels</p>
    </a>
      <a
        class="menu-item"
        href="/translation"
        [routerLinkActive]="'menu-item__checked'"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['translation']"
      >
        <p>Translator Services</p>
      </a>
      <a
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        href="/blog"
        [routerLink]="['blog']">
        <p>Blogging</p>
      </a>
      <a
        *ngIf="isAdmin"
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        href="/admin"
        [routerLink]="['admin']">
        <p>Admin</p>
      </a>
    </div>
  </div>
