<div class="full-page__header">
    <div class="full-page__header__top">
      <img src="{{iconLoaded}}" alt="icon" class="right-icon">
      <!-- <div class="right-part"> -->
        <span>
          <input name="Search" />
          <button class="search-button">Search</button>
        </span>
        <span class="globe">
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
            lang | uppercase }}</option>
        </select>

          <img class="align-globe" src="assets/www.svg" alt="globe">
        </span>
        <span class="signin">
          <span *ngIf="username === 'Hello Sign In'">
            <p>Hello @User</p>
            <p class="username" (click)="login()">Sign In</p>
          </span>
          <p *ngIf="username !== 'Hello Sign In'">{{ (username.length>12)? (username | slice:0:12)+'..':(username) }}</p>
          <strong *ngIf="showSignout" (click)="logout()">Sign out</strong>
        </span>
      <!-- </div> -->
    </div>
    <div class="full-page__header__bottom">
      <a
        class="menu-item"
        href="/tv"
        [routerLinkActive]="'menu-item__checked'"
        [routerLink]="['tv']"
        >
        <p>TV Stations</p>
      </a>
      <a
        class="menu-item"
        href="/investor-matching"
        [routerLinkActive]="'menu-item__checked'"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['investor-matching']"
        >
        <p>Investor Matching</p>
      </a>
      <a
        class="menu-item"
        href="/tours"
        [routerLinkActive]="'menu-item__checked'"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['tours']"
      >
        <p>Tours & Travels</p>
    </a>
      <a
        class="menu-item">
        <p>Translator Services</p>
      </a>
      <a
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        href="/blog"
        [routerLink]="['blog']">
        <p>Blogging</p>
      </a>
      <a
        *ngIf="isAdmin"
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        href="/admin"
        [routerLink]="['admin']">
        <p>Admin</p>
      </a>
    </div>
  </div>
