<div class="full-page__header">
    <div class="full-page__header__top">
      <img src="{{iconLoaded}}" alt="icon" class="right-icon">
      <!-- <div class="right-part"> -->
        <span>
          <input name="Search" />
          <button class="search-button">Search</button>
        </span>
        <span class="globe">
        <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{
            lang | uppercase }}</option>
        </select>

          <img class="align-globe" src="assets/www.svg" alt="globe">
        </span>
        <span class="signin">
          <span *ngIf="username === 'Hello Sign In'">
            <p>Hello @User</p>
            <p class="username" (click)="login()">Sign In</p>
          </span>
          <p *ngIf="username !== 'Hello Sign In'">{{ (username.length>12)? (username | slice:0:12)+'..':(username) }}</p>
          <strong *ngIf="showSignout" (click)="logout()">Sign out</strong>
        </span>
      <!-- </div> -->
    </div>
    <div class="full-page__header__bottom">
      <p
        class="menu-item"
        routerLinkActive="menu-item__checked"
        [routerLink]="['tv']"
        >
        TV Stations
      </p>
      <p
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['investor-matching']"
        >
        Investor Matching
      </p>
      <p
        class="menu-item">
        Tours & Travels
    </p>
      <p
        class="menu-item">
        Translator Services
      </p>
      <p
        class="menu-item"
        routerLinkActive="menu-item__checked"
        (click)="changeNavBarIcon('/blog')"
        [routerLink]="['blog']">
        Blogging
      </p>
    </div>
  </div>
