.full-page {
    width: 100%;
    height: 100%;
    position: absolute;
  top: 0 !important;

    .body {
      overflow-x: hidden;
        display: flex;

        &:nth-child(1) {
            width: 90vw;
        }

    }

    @media only screen and (max-width: 975px) {
        .body {
            flex-direction: column;
            justify-content: center;

            &:nth-child(2) {
                width: 100vw;
            }
        }
    }
    &__footer {
        background-color: #ED1C24;
        height: 5%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        // left: 0;
        bottom: 0;
        width: 100vw;

        .footer-icon {
            position: relative;
            z-index: 2;
            left: 20px;
            bottom: 50px;
            height: 80px;
            width: 100px;
        }

        .footer-icon-dragon {
            z-index: 2;
            position: relative;
            right: 5px;
            bottom: 60px;
            height: 80px;
            width: 150px;
        }
    }
}
