<span class="card">
    <img class="cover-photo" [src]="cardData.coverImage"
        alt="">
    <div class="card__title">
        <p>{{cardData.title}}</p>
    </div>
    <div class="card__sub-title">
        <img src="assets/clock.svg" alt="">
        <p>{{cardData.timeSinceCreation}}</p>
    </div>
    <div class="card__body">
        <p>Owner: {{(cardData.userId.length>23)? (cardData.userId | slice:0:23)+'..':(cardData.userId)}}</p>
        <p>Location: {{cardData.location}}</p>
        <p>Amount Required: {{cardData.currencyCode}} {{cardData.amountRequested | number}}</p>
        <span class="card__body__returns">
            <p>Project Returns:</p>
            <p *ngIf="cardData.projectedReturnsType.toLowerCase() === 'fixed'">{{cardData.currencyCode}}</p>
            <p>&nbsp;{{cardData.projectedReturns | number}}</p>
            <p *ngIf="cardData.projectedReturnsType.toLowerCase() === 'percentage'">%</p>
        </span>
        <p *ngIf="cardData.projectedReturnsType.toLowerCase() === 'fixed'">+ initial investment</p>
    </div>
    <div class="card__company-type">
        <p>{{cardData.category}} Company</p>
    </div>
    <span class="action-buttons">
      <mat-icon
        class="deleteButton"
        *ngIf="showIcons"
        [routerLink]="['create-investment-project']"
        [queryParams]="{ id: cardData.id }"
        matTooltipClass="my-custom-tooltip"
        matTooltip="Edit project"
        svgIcon="refresh">
      </mat-icon>

      <button
        class="button"
        [routerLink]="['view-project-details']"
        [queryParams]="{ id: cardData.id }"
      >Invest</button>

      <mat-icon
        class="deleteButton"
        *ngIf="showIcons || (this.userData.roleId === 'ADMIN')"
        matTooltipClass="my-custom-tooltip"
        matTooltip="Delete project"
        (click)="deleteProject(cardData.id)"
        svgIcon="delete">
      </mat-icon>
    </span>
</span>
