<span class="card">
    <img class="cover-photo" [src]="cardData.coverImage"
        alt="">
    <div class="card__title">
        <p>{{cardData.title}}</p>
    </div>
    <div class="card__sub-title">
        <img src="assets/clock.svg" alt="">
        <p>12h</p>
    </div>
    <div class="card__body">
        <p>Owner: John Doe</p>
        <p>Location: {{cardData.location}}</p>
        <p>Amount Required: {{cardData.currencyCode}} {{cardData.amountRequested | number}}</p>
        <span class="card__body__returns">
            <p>Project Returns:</p>
            <p *ngIf="cardData.projectedReturnsType === 'Fixed'">{{cardData.currencyCode}}</p>
            <p>{{cardData.projectedReturns | number}}</p>
            <p *ngIf="cardData.projectedReturnsType === 'Percentage'">%</p>
        </span>
        <p>+ initial investment</p>
    </div>
    <div class="card__company-type">
        <p>{{cardData.category}} Company</p>
    </div>
    <button
    class="button"
    [routerLink]="[cardData.id]"
    *ngIf="!showEditable"
    >Invest</button>
    <span class="action-buttons">
        <mat-icon
        class="deleteButton"
        matTooltip="Delete project"
        *ngIf="showEditable"
        (click)="deleteProject(cardData.id)"
        svgIcon="delete"></mat-icon>
    
        <mat-icon
        class="deleteButton"
        matTooltip="View project details"
        *ngIf="showEditable"
        (click)="displayInvestmentProject(cardData.id)"
        svgIcon="read"></mat-icon>
    
        <mat-icon
        class="deleteButton"
        *ngIf="showEditable"
        matTooltip="Edit project"
        (click)="updateThisProject(cardData)"
        svgIcon="refresh"></mat-icon>
    </span>
</span>
