.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mat-icon {
    color: var(--gold-color);
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  p {
    color: var(--gold-color);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
.body {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;

  .headers {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
    flex-wrap: wrap;

    .icons, .dropDown-button {
      margin-top: 30px;
    }

    .icons {
      color: var(--gold-color);
      .previousPage, .nextPage {
        &:hover {
          color: var(--gold-color);
          transform: scale(1.3);
        }
      }
    }

    .dropDown-button {

      mat-icon {
        width: 10px;
        height: 10px;
      }
      button {
        color: var(--gold-color);
        background-color: transparent;
        border: none;

        &:focus {
          outline: none;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

  }

  h2 {
    text-align: center;
    padding-top: 30px;
    color: var(--gold-color);
  }

  .videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
  }

  .example-box {
    min-width: 47%;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px 10px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    border-radius: 3px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    font-size: 14px;
    box-shadow: 0px 0px 10px black;

    &:hover {
      box-shadow: 0px 0px 20px black;
      z-index: 4;
    }
  }

  .videos-box {
    padding: 0px !important;
  }

  .video-body {
    display: flex;
    flex-direction: column;

    &__title {
      font-weight: 700;
      font-size: 12px;
      width: 90%;
      text-align: center;
      height: 30px;
      margin-top: 10px;
    }

    &__description {
      margin-top: 20px;
      font-size: 10px;
      font-weight: 500;
      word-wrap: break-word;
      margin-left: 5px;
    }
  }

  .video-item {
    display: flex;
  }
}
