<div class="body">
  <div class="login-form">
        <span [formGroup]="changePasswordForm" class="login-form-body">
            <p>Change Password</p>
            <input formControlName="oldPassword" placeholder="Old Password" type="password">
            <span *ngIf="(changePasswordForm.controls.oldPassword.touched || submitUserDetail) && changePasswordForm.controls.oldPassword.errors?.required"
                  class="error">
              <p>*Old password is required.</p>
            </span>
            <input formControlName="newPassword" placeholder="New Password" type="password">
            <span *ngIf="(changePasswordForm.controls.newPassword.touched || submitUserDetail) && changePasswordForm.controls.newPassword.errors?.required"
                  class="error">
              <p>*New password is required.</p>
            </span>
            <input formControlName="confirmedPassword" placeholder="Confirm Password" type="password">
            <span *ngIf="(changePasswordForm.controls.confirmedPassword.touched || submitUserDetail) && changePasswordForm.controls.confirmedPassword.errors?.required"
                  class="error">
              <p>*Confirm password is required.</p>
            </span>
          <span *ngIf="changePasswordForm.controls.confirmedPassword.touched && changePasswordForm.controls.confirmedPassword.errors?.passwordMismatch"
                  class="error">
              <p>*Passwords do not match.</p>
            </span>

            <button (click)="submitLoginData()" class="button" type="submit">
                <span *ngIf="!submitUserDetail">
                    Submit
                </span>
                <span *ngIf="submitUserDetail" class="white">
                    <mat-icon>
                        <mat-spinner class="white" diameter="20"></mat-spinner>
                    </mat-icon>
                </span>
            </button>
        </span>
  </div>
</div>
