<span class="spinner" *ngIf="loadingData">
  <mat-spinner></mat-spinner>
</span>
<div *ngIf="!loadingData" class="body">
    <div class="items">
        <img class="cover-image" [hidden]="loadingCoverImage" (load)="loadingCoverImage=false;" [src]="data.coverImage" alt="">
      <span *ngIf="loadingCoverImage" class="client-cover-spinner"><mat-spinner diameter="40"></mat-spinner></span>
        <span class="details">
            <span class="company-info">
                <p class="company-name">{{data.title}}</p>
                <div class="card-body">
                    <p>Owner: {{data.userId}}</p>
                    <p>Location: {{data.location}}</p>
                    <p>Amount Required: {{data.currencyCode}} {{data.amountRequested | number}}</p>
                    <span class="card-body-returns">
                        <p>Project Returns: </p>
                        <p *ngIf="data.projectedReturnsType == 'FIXED'"> {{data.currencyCode}}</p>
                        <p> {{data.projectedReturns | number}}</p>
                        <p *ngIf="data.projectedReturnsType == 'PERCENTAGE'">%</p>
                    </span>
                </div>
                <div class="card-company-type">
                    <p>{{data.category}} Company</p>
                </div>
            </span>
            <span class="order-details">
                <p class="order-details-title">Order Details</p>
                <span class="select-inputs">
                  <span class="input-currency">
                    <p>Currency: {{data.currencyCode}}</p>
                  </span>
                  <input placeholder="Investment Amount" [formControl]="amountPaid" #amount (keyup)="addCommas(amount.value)" (keydown)='isNumber(event)'>
                </span>
                <div class="buttons">
                    <button class="button first-button" (click)="goBack()">Go Back</button>
                    <button class="button second-button" [disabled]="amountPaid.value === ''" (click)="submitOrderData()">
                      <span *ngIf="!submitData">
                        Pay Now
                      </span>
                      <mat-icon *ngIf="submitData">
                        <mat-spinner diameter="15"></mat-spinner>
                      </mat-icon>
                    </button>
                </div>
            </span>
        </span>

        <div class="bottom">
<!--            <p>Related</p>-->
            <app-display-client-cards
            [data]="[]"
            ></app-display-client-cards>
        </div>
    </div>
</div>
