<span class="card" *ngIf="!displayVideo">
    <img [src]="data.coverImage"
        alt="">
    <div class="card__title">
        <p>{{data.title}}</p>
    </div>
    <div class="card__body" [innerHTML]="truncateHTML(data.htmlBody)">
    </div>
    <button
    class="button"
    *ngIf="!displayDeleteButton"
    [routerLink]="['single-blog']"
    [queryParams]="{ id: data.id }"
    >Read more</button>
    <span class="action-buttons">
        <mat-icon
        class="deleteButton"
        matTooltip="Delete blog"
        *ngIf="displayDeleteButton"
        (click)="deleteBlog(data.id)"
        svgIcon="delete"></mat-icon>

        <mat-icon
        class="deleteButton"
        matTooltip="Read blog"
        *ngIf="displayDeleteButton"
        (click)="readThisBlog(data.id)"
        svgIcon="read"></mat-icon>

        <mat-icon
        class="deleteButton"
        matTooltip="Update blog"
        *ngIf="displayDeleteButton"
        (click)="updateThisBlog(data)"
        svgIcon="refresh"></mat-icon>
    </span>
</span>
<span class="card" *ngIf="displayVideo">
    <video
    width="230px"
    height="120px"
    (mouseenter) ="mouseEnter()"
    (mouseleave) ="mouseLeave()"
    [controls]="controls"
    >
        <source [src]="data.fileUrl">
    </video>

    <div class="card__title">
        <p>{{data.name}}</p>
    </div>
    <p class="card__body">{{data.description}}</p>

    <span class="action-buttons">
        <mat-icon
        class="deleteButton"
        matTooltip="Delete blog"
        *ngIf="displayDeleteButton"
        (click)="deleteVideoItem(data.id)"
        svgIcon="delete"></mat-icon>

        <mat-icon
        class="deleteButton"
        *ngIf="displayDeleteButton"
        (click)="updateVideoItem(data)"
        svgIcon="refresh"></mat-icon>
    </span>
</span>
