<div class="body">
  <div class="align-search-bar">
    <div [formGroup]="usersForm" class="search-bar">
      <span class="name">
        <input class="input-name" formControlName="requesterId" placeholder="RequesterId" type="text">
      </span>
      <span>
        <select #role formControlName="liquidationStatus" name="Type" required>
          <option [selected]="true" value="">Liquidation Status</option>
          <option value="PENDING">Pending</option>
          <option value="SUCCESS">Success</option>
        </select>
      </span>
      <span class="button-cover">
        <button (click)="searchTransactions()" class="button ">Search</button>
      </span>
    </div>
  </div>
  <div *ngIf="loadingTableData" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  <div class="spinner" *ngIf="!loadingTableData && data.length === 0">
    <p>The liquidation request that you searched for could not be found.</p>
  </div>
  <div class="align-table" *ngIf="!loadingTableData && data.length > 0">
    <mat-table [dataSource]="data">
      <ng-container matColumnDef="requesterId">
        <mat-header-cell *matHeaderCellDef> RequesterId</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.requesterId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="kycIDType">
        <mat-header-cell *matHeaderCellDef> ID Type</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.kycIDType | removeUnderscore | titlecase}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="kycIDNumber">
        <mat-header-cell *matHeaderCellDef> kyc ID</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.kycIDNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="kycIDUrl">
        <mat-header-cell *matHeaderCellDef> Upload Url</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  (click)="zoomImage(element.kycIDUrl)"
                  matTooltip="Click to preview image">{{ (element.kycIDUrl.length > 30) ? (element.kycIDUrl | slice:0:30) + '..' : (element.kycIDUrl) }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="liquidationStatus">
        <mat-header-cell *matHeaderCellDef> Liquidation Status</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.liquidationStatus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <mat-header-cell *matHeaderCellDef> Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phoneNumber}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="liquidationChannelAccountDetails">
        <mat-header-cell *matHeaderCellDef> Liquidation Account Details</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.liquidationChannelAccountDetails}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-select  #request placeholder="Choose Action" (selectionChange)="closeLiquidationRequest(request.value, element.id)" [disabled]="element.liquidationStatus === 'SUCCESS'">
            <mat-option *ngFor="let action of actions" [value]="action">{{action}}</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="limit" [hidePageSize]="true" (page)="nextOrPreviousPage($event)" [length]="length"></mat-paginator>
  </div>
</div>
