<div class="body">
    <p class="title" *ngIf="updateVideoItemId ==''">Create Video</p>
    <p class="title" *ngIf="updateVideoItemId !=''">Edit Video</p>
    <div class="video-category-spinner" *ngIf="loadingVideoCategories">
      <mat-spinner></mat-spinner>
    </div>
    <span class="upload-form" [formGroup]="videoForm" *ngIf="!loadingVideoCategories">
        <input type="text" placeholder="Video Name" formControlName="Name" class="input-title">
        <textarea name="description" formControlName="Description" placeholder="Video Description" rows="3"></textarea>
        <div class="radio-button-groups">
            <span class="radio-button-items">
                <label class="radio-button-title">Choose a recommended age</label>
                <mat-radio-group class="radio-button-items" formControlName="RecommendedAge" aria-label="Select an option">
                    <mat-radio-button value="G">G</mat-radio-button>
                    <mat-radio-button value="PG">PG</mat-radio-button>
                    <mat-radio-button value="PG-13">PG-13</mat-radio-button>
                    <mat-radio-button value="R">R</mat-radio-button>
                    <mat-radio-button value="18+">18+</mat-radio-button>
                </mat-radio-group>
            </span>
        </div>
        <span class="radio-button-items">
            <label class="radio-button-title">Choose your category</label>
            <mat-radio-group class="radio-button-items" formControlName="CategoryId" aria-label="Select an option">
                <mat-radio-button *ngFor="let category of videoCategories" [value]="category.categoryCode">{{category.categoryCode}}</mat-radio-button>
            </mat-radio-group>
        </span>
        <span class="upload-button-location">
            <button class="button upload-button" (click)="upload()">Upload Video</button>
            <p class="videoUrl">{{videoForm.value.FileUrl}}</p>
        </span>
      <h3 [style.color]="'white'">OR</h3>
      <input type="text" placeholder="Paste YouTube link here" formControlName="FileUrl" class="input-title">
        <button
        class="button submit-button"
        [disabled]="!videoForm.valid"
        (click)="submitVideo(videoForm.value)"
        >
        <span *ngIf="!savingVideo">
            Submit Video
        </span>
            <mat-icon *ngIf="savingVideo">
                <mat-spinner diameter="20"></mat-spinner>
            </mat-icon>
        </button>
    </span>
    <p class="title">Videos</p>
    <app-display-blogs
        [videos]="videos"
        [displayVideos]="true"
        [displayBlogInAdmin]="true"
        [reload]="false"
        [videoPageCount]="pageCount"
        (nextVideos)="nextPage($event)"
></app-display-blogs>
</div>
