<div class="spinner" *ngIf="loadingInvestmentProject && notFound === ''">
    <mat-spinner></mat-spinner>
</div>
<div class="spinner" *ngIf="notFound !== ''">
    <p>{{notFound}}</p>
</div>
<div class="body" *ngIf="!loadingInvestmentProject && notFound === ''">
    <div class="cover-body">
        <div class="body__top">
            <img class="client-cover" [hidden]="loadingCoverImage" [src]="data.coverImage" (load)="coverImageLoaded()" alt="">
            <span *ngIf="loadingCoverImage" class="client-cover-spinner"><mat-spinner diameter="40"></mat-spinner></span>
            <span class="company-info">
                <p class="company-name">{{data.title}}</p>
                <div class="card-body">
                    <p>Owner: {{data.userId}}</p>
                    <p>Location: {{data.location}}</p>
                    <p>Amount Required: {{data.currencyCode}} {{data.amountRequested | number}}</p>
                    <span class="card-body-returns">
                        <p>Project Returns: </p>
                        <p *ngIf="data.projectedReturnsType == 'FIXED'"> {{data.currencyCode}}</p>
                        <p> {{data.projectedReturns | number}}</p>
                        <p *ngIf="data.projectedReturnsType == 'PERCENTAGE'">%</p>
                    </span>
                </div>
                <div class="card-company-type">
                    <p>{{data.category}} Company</p>
                </div>
                <div class="buttons">
                    <button class="button first-button" [routerLink]="['../order-details']">Contact Owner</button>
                    <button class="button second-button">Invest Now</button>
                </div>
            </span>
        </div>
        <div class="body__office-images">
            <span *ngFor="let image of data.otherImages">
                <img class="office-image" [src]="image" alt="">
            </span>
        </div>
        <div class="body__description">
           <p class="title">Description</p>
            <p class="toggle-body">
                {{data.description}}
            </p>
        </div>
        <!-- <div class="body__bottom">
            <p>Related</p>
            <app-display-client-cards
                [data]="[]"
            ></app-display-client-cards>
        </div> -->
    </div>
</div>
