<div class="body">
    <div class="cover-body">
        <div class="body__top">
            <img class="client-cover" src="assets/client-cover.jpg" alt="">
            
            <span class="company-info">
                <p class="company-name">Vihlix</p>
                <div class="card-body">
                    <p>Owner: John Doe</p>
                    <p>Location: Kampala, Uganda</p>
                    <p>Amount Required: 1m UGX</p>
                    <p>Project Returns: 10%</p>
                </div>
                <div class="card-company-type">
                    <p>Technology Company</p>
                </div>
                <div class="buttons">
                    <button class="button first-button" [routerLink]="['../order-details']">Contact Owner</button>
                    <button class="button second-button">Invest Now</button>
                </div>
            </span>
        </div>
        <div class="body__office-images">
            <img class="office-image" src="assets/office-space.jpg" alt="">
            <img class="office-image" src="assets/office-space.jpg" alt="">
            <img class="office-image" src="assets/office-space.jpg" alt="">
            <img class="office-image" src="assets/office-space.jpg" alt="">
        </div>
        <div class="body__description">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">Location</mat-button-toggle>
                <mat-button-toggle value="italic">Location</mat-button-toggle>
                <mat-button-toggle value="underline">Location</mat-button-toggle>
            </mat-button-toggle-group>
            <p class="toggle-body">
                Through this tiny lens we see the ambient background of life:
                people working in kitchens, bedrooms or spare rooms,
                the hoarded detritus of life piled behind them.
                A colleague, I learned from a video call, uses an ironing board as a desk.
                Another works from the sofa. One collects stuffed hedgehogs.
                You’ve probably had similar insights about your colleagues.
                Quite possibly you’ve learned many of these things through Zoom.
                Through this tiny lens we see the ambient background of life:
                people working in kitchens, bedrooms or spare rooms,
                the hoarded detritus of life piled behind them.
                A colleague, I learned from a video call, uses an ironing board as a desk.
                Another works from the sofa. One collects stuffed hedgehogs.
                You’ve probably had similar insights about your colleagues.
                Quite possibly you’ve learned many of these things through Zoom.
                Through this tiny lens we see the ambient background of life:
                people working in kitchens, bedrooms or spare rooms,
                the hoarded detritus of life piled behind them.
                A colleague, I learned from a video call, uses an ironing board as a desk.
                Another works from the sofa. One collects stuffed hedgehogs.
                You’ve probably had similar insights about your colleagues.
                Quite possibly you’ve learned many of these things through Zoom.
            </p>
        </div>
        <div class="body__bottom">
            <p>Related</p>
            <app-display-client-cards
                [data]="[]"
            ></app-display-client-cards>
        </div>
    </div>
</div>
