<span class="spinner" *ngIf="blogs == '' && !retryError && !noBlogError">
    <mat-spinner>
    </mat-spinner>
</span>
<span class="spinner" *ngIf="retryError && !noBlogError">
    <h2>Something went wrong!</h2>
    <button class="button" (click)="reloadBlog()">Retry</button>
</span>
<span class="spinner" *ngIf="noBlogError">
    <h2>There are no blogs!</h2>
</span>
<div class="body">
    <div class="center-align" *ngIf="blogs.length > 0 && blog !== ''">
        <div>
            <p class="title">Our Blog</p>
        </div>
        <div class="icons">
            <mat-icon [class.previousPage]="page > 0" (click)="previousPage()" svgIcon="previous-page"></mat-icon>
            <mat-icon [class.nextPage]="page < pageCount" (click)="nextPage()" svgIcon="next-page"></mat-icon>
        </div>
        <div class="cards">
            <app-blog-card *ngFor="let blog of blogs"
                [data]="blog">
            </app-blog-card>
        </div>
    </div>

</div>
