<div class="spinner" *ngIf="!singleBlog && !articleDoesNotExist">
    <mat-spinner
        [color]="accent">
    </mat-spinner>
</div>
<div class="spinner" *ngIf="articleDoesNotExist">
    <p>{{errorMessage}}</p>
</div>
<div class="single-blog-body" *ngIf="singleBlog">
    <div class="side-bar">
        <img [src]="singleBlog.author.profilePic" alt="">
        <div class="author-name">
            <p>{{singleBlog.author.authorName}}</p>
        </div>
        <div class="author-bio">
            <p>{{singleBlog.author.authorBio}}</p>
        </div>

        <app-blog-card *ngFor="let blog of blogs"
            [data]="blog">
        </app-blog-card>
    </div>
    <div class="main-content">
        <p class="blog-title">{{singleBlog.title}}</p>
        <div class="blog-body" [innerHTML]="singleBlog.htmlBody"></div>
        <div class="likes-and-comments">
            <div class="social">
                <!-- <span class="social-sharing">
                    <mat-icon (click)="routeTo(singleBlog.author.facebookLink)" class="facebook" svgIcon="facebook"></mat-icon>
                    <mat-icon (click)="routeTo(singleBlog.author.instagramLink)" class="instagram" svgIcon="instagram"></mat-icon>
                    <mat-icon (click)="routeTo(singleBlog.author.twitterLink)" class="twitter" svgIcon="twitter"></mat-icon>
                    <mat-icon (click)="routeTo(singleBlog.author.linkedInLink)" class="linkedin" svgIcon="linkedin"></mat-icon>
                </span> -->
            </div>
            <div class="write-comment">
                <textarea name="add-comment" (focus)="checkIfUserIsLoggedIn()" #commentValue placeholder="Comment..." id="" rows="5"></textarea>
                <button class="button" (click)="sendComment(commentValue.value); commentValue.value=''" >Post</button>
            </div>
            <div class="comments">
                <app-blog-comments
                [commentPosted]="commentPosted"
                (commentsRecalled)="commentsRecalled($event)"
                [commentId]="id"></app-blog-comments>
            </div>
        </div>
    </div>
</div>
