.single-blog-body {
    display: flex;
    width: 80vw;
    background-color: #f5f6f8;


    .side-bar {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

        img {
            width: 120px;
            height: 120px;
            border-radius: 60%;
            object-fit: cover;
            border: 5px solid rgb(92, 89, 89);
        }

        .author-name {
            font-weight: bold;
            margin: 10px 0px;
        }

        .author-stats {
            display: flex;
            font-size: 9px;
            font-weight: 600;
            justify-content: space-around;
            width: 230px;
            margin-bottom: 10px;
        }

        .author-bio {
            font-size: 11px;
            width: 230px;
            text-align: justify;
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 700px) {
        .main-content {
            order: -1;

            .blog-body {
                margin-left: 10px;
            }
        }
    }

    .main-content {
        flex: 0 0 70%;
        margin-top: 50px;
        padding-right: 10px;
        
        .blog-title {
            font-size: 30px;
            font-weight: 400;
            color: #77222d;
            margin-bottom: 40px;
        }

        .blog-body {
            background-color: white;
            padding: 30px;
            font-size: 14px;
            line-height: 1.6;
        }

        .likes-and-comments {
            background-color: white;
            width: 100%;
            .dislike-icon {
                transform: rotate(-180deg);
                margin-right: 7px;
            }

            .social {
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                // justify-content: space-between;
                margin-left: 30px;

                .social-text {
                  margin-left: 10px;
                  font-size: 12px;
              }

              .social-icon {
                  height: 12px;
                  width: 12px;
              }
                
                .social-sharing {
                    display: flex;
                    // justify-content: space-between;
                    flex: 0 0 100%;
                    flex-wrap: wrap;
                    flex-direction: column;

                    mat-icon {
                      width: 17px;
                      margin-right: 5px;
                      vertical-align: middle;
                      height: 15px;
                      margin-bottom: 3px;
                    //   background-color: #77222d;
                    }

                    .social-button {
                      color: white;
                      width: 120px;
                      height: 32px;
                      border: none;
                      border-radius: 3px;
                      margin-right: 5px;
                      margin-top: 10px;
                      transition: .2s ease-in;

                      &:focus {
                        outline: none;
                      }
                      &:hover {
                            transform: translateY(-3px);
                            cursor: pointer;
                      }


                      a {
                          text-decoration: none;
                          color: white;
                      }
                  }

                  .social-button-facebook {
                      background-color: #3b5998;
                  }

                  .social-button-twitter {
                      background-color: #00acee;
                  }

                  .social-button-whatsapp {
                      background-color: #25D366;
                  }
                  .social-button-wechat {
                      background-color: #4EC034;
                  }
                  .social-button-weibo {
                      background-color: #FF9933;
                  }

                  .social-button-share {
                    background-color: #95D03A;
                  }
                  .social-button-renren {
                    background-color: #005BAA;
                  }

                }
            }
            
            .write-comment {
                margin-left: 30px;
                width: 96%;
                display: flex;
                flex-direction: column;

                textarea {
                    background-color: #f5f6f8;
                    border: none;
                    resize: none;
                    padding-top: 20px;
                    padding-left: 15px;
                    margin-bottom: 5px;
                    margin-top: 20px;
                    margin-right: 30px;
                }
                
                button {
                    width: 70px;
                    color: white;
                    font-weight: bold;
                    align-self: flex-end;
                    background-color: red;
                    font-size: 14px;
                    border-radius: 3px !important;
                    margin-right: 30px;
                }

            }

            .comments {
                width: 80%;
                margin-left: 30px;
            }
        }
    }
}

@media only screen and (max-width: 975px) {
.single-blog-body {
    width: 100vw;
}
}

@media only screen and (max-width: 700px) {
    .single-blog-body {
        flex-direction: column;
        align-items: center;
    }
}

.spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
