<div class="component-body">
  <div class="side-bar">
    <img class="settings-image" src="/assets/settings.svg">
  </div>
  <div class="main-body">
    <div class="profile-image">
      <img src="https://placeimg.com/800/300/nature">
      <div class="username">
        <p>Some One Nemesis</p>
        <div class="dot"></div>
      </div>
      <div class="bio">
        <p>A human resource specialist with a decade of successful experience in hiring
          and employee management.Thane specialises in human resource technologies and regularly attends
          national training sessions to showcase the new HR tech trends, such as self service, wellness apps and
          and people analytic tools.
        </p>
      </div>
    </div>
    <div class="profile-settings">
      <div class="title">
        <p>USER PROFILE SETTINGS</p>
      </div>
      <div class="profile-settings-body">
        <div class="input-pair">
          <p>Full Names:</p>
          <p class="input-value">Some One Nemesis</p>
        </div>
        <div class="input-pair">
          <p>User Id:</p>
          <p class="input-value">SamOne@yearofthat.com</p>
        </div>
        <div class="input-pair">
          <p>Email:</p>
          <p class="input-value">SamOne@yearofthat.com</p>
        </div>
        <div class="input-pair">
          <p>Preferred Language:</p>
          <p class="input-value">English</p>
        </div>
        <div class="input-pair">
          <p>Sex:</p>
          <p class="input-value">Male</p>
        </div>
        <button class="button">Save</button>
      </div>
    </div>
  </div>
</div>
